.celebration {
  background-color: green;
}


.words_and_sentences {
  background-color: grey;
}
.sentences {
  background-color: rgb(30, 58, 30);
  padding: 0.3em;
}
/* .sentence{

} */
.to_translate {
  color: white;
  padding: 0.3em;
}
.full_sentence_button {
  background-color: green;
}
.full_sentence {
  background-color: #3d5e7e;
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 0.3em;
}
.clicked_card_to_choose {
  background-color: #69706c;
  font-family: "BPG Glaho", sans-serif;
  border-radius: 0.3em;
  width: fit-content;
  padding: 0.3em;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
  height: fit-content;
}
.card_to_choose {
  background-color: #69706c;
  font-family: "BPG Glaho", sans-serif;
  border-radius: 0.3em;
  width: fit-content;
  padding: 0.3em;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
  height: fit-content;
  box-shadow: 0 0.1em;
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
}
.clicked_card_to_choose {
  background-color: #030303;
}
.cursor_pointer {
  cursor: pointer;
}
.to_fill_sentence {
  background-color: #69706c;
  margin: 0.3em;
}
/* .full_sentence{
  background-color: rgb(26, 41, 73);
} */
.clicked_sentence {
  /* background-color: #91764a; */
}
.words_for_sentence {
  background-color: rgb(20, 112, 23);
  display: flex;
  flex-wrap: wrap;
}
.word_returned {
  /* background-color: #547753; */
  color: #547753;
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 0.3em;
  cursor: pointer;
}
.word_for_sentence {
  background-color: #547753;
  color: #547753;
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 0.3em;
  height: 1em;
  cursor: pointer;
}
.clicked_word_for_sentence {
  background-color: #72773b;
}

.back_invisible {
  color: #72773b;
  background-color: #72773b;
  padding: 0.3em;
  border-radius: 0.3em;
}
.back_visible {
  background-color: green;
  padding: 0.3em;
  border-radius: 0.3em;
  /* color: black; */
}
.word_card {
  background-color: green;
  padding: 0.7em;
  margin: 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
}
