.dictionary{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  // background-color: ;
  .topSpace {
    height: 20px;
  }
  .bottomSpace {
    display: flex;
    flex-wrap: wrap;
  }
}