.hidden {
  display: none;
}
.fixed-won-word {
  background-color: gold;
  padding: 1em;
  border: black;
  border-radius: 1em;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 2em;
  transform: translate(-50%, -50%);
}
.position-fixed-right {
  background-color: red;
  position: fixed;
  top: 50%;
  left: 75%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  /* background-color: green; */
}
