.container {
  // display: flex;
  // justify-content: center;
  color: #555;
  .classes-to-choose{
    background-color: aliceblue;
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;
    
    .classroom-card {
      background-color: #1dbf73;
      margin: .3em;
      padding: .3em;
      cursor: pointer;
      // justify-content: space-around;
      
    }
    .chosen-class{
      background-color: yellowgreen;
      box-shadow: 10px 5px 5px black;
    }
  }

  
  .sentences-table {
    max-width: 100%;
    padding: 50px 0px;
    
    .title {
      display: flex;
      justify-content: space-between;

      button {
        background-color: #1dbf73;
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }

    table {
      // width: 100%;
      box-sizing: border-box;
      
      tr {
        height: 50px;
        box-sizing: border-box;
        th {
          text-align: left;
          // width: 100%;
        }
        td {
          width: auto;

          sup{
            // font-size: 12px;
          }
          
          .image {
            // width: 50px;
            height: 25px;
            object-fit: cover;
          }

          .delete {
            width: 20px;
            cursor: pointer;
          }

        }
        &:nth-child(even) {
          background-color: #1dbf730f;
        }
      }
    }
  }
}
