*{
  margin: 0;
  padding: 0;
.header {
  display: flex;
  justify-content: center;
  // gap: 0px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // align-items: center;

  // &.active {
    // background-color: #1dbf73;
  //   color: rgb(81, 152, 89);

  //   // button {
  //   //   background-color: white !important;
  //   //   color: #1dbf73 !important;
  //   //   border: 1px solid #1dbf73 !important;
  //   // }
  // }

  .navbar {
    background-color: rgb(7, 65, 115);
    // color: white;
    // color: rgb(93, 235, 215);
    // padding: 20px 10px 20px 10px;
    // position: sticky;
    padding: .5em;
    top: 0;
    z-index: 999;
    transition: 0.5s all ease;
    width: 100%;
    // max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 10vh;

    .roomlink {
      text-decoration: none;
      margin: .3em;
      padding: .3em;
      background-color: rgb(148, 147, 147);
      border-radius: .3em;
    }

    .username {
      background-color: rgb(91, 93, 93);
      padding: .3em;
      border-radius: .3em;
      margin: .3em;
    }


    .link {

      .logo {
        width: 36px;
        // border: none;
        // font-size: 34px;
        // font-weight: bold;
        // color: white;
      }

      .website-name {
        color: rgb(22, 121, 171);
      }
    }

    .sign-in {
      color: wheat;
    }


    .dot {
      font-weight: bold;
      color: #1dbf73;
    }
  }

  .links {
    display: flex;
    align-items: center;
    // gap: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    span {
      white-space: nowrap;
    }

    .userpanel {
      display: flex;

      .mydoor {
        background-color: gray;
        border-radius: .3em;
        color: #ebe9e9;
        width: 100px;

      }
    }

    .user {
      display: flex;
      align-items: center;
      // gap: 10px;
      cursor: pointer;
      position: relative;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }

      .options {
        position: absolute;
        top: 50px;
        right: 0;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        z-index: 999;
        border: 1px solid lightgrey;
        display: flex;
        flex-direction: column;
        // gap: 10px;
        width: 200px;
        font-weight: 300;
        color: gray;
        
        .addTextLink,.addVideoLink,.logoutlink {
          background-color: green;
          padding: .3em;
          margin: .3em;
          color: antiquewhite;
          text-decoration: none;
          border-radius: .3em;
        }
        .logoutlink{
          color: rgb(210, 1, 1)
          
        }
      }

    }

    button {
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      border: 1px solid white;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        background-color: #1dbf73;
        border-color: #1dbf73;
      }
    }
  }
}

hr {
  width: calc(100% - 2px);
  height: 0;
  border-top: 0.5px solid #ebe9e9;
  border-bottom: 0.5px solid #ebe9e9;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(53, 53, 53);
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  padding: 20px 10px 20px 10px;
  box-sizing: border-box;
}
}
