* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "BPG Nino";
  src: url("/fonts/bpg_nino_elite.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

body {
  font-family:
    "BPG Nino", "Noto Sans Georgian", "Noto Sans Symbols 2", "DejaVu Sans", "Segoe UI", Roboto, Tahoma, sans-serif;

  // font-family: 'Noto Sans Georgian', 'Noto Sans', 'Noto Sans Symbols', sans-serif;
}

