@font-face {
  font-family: "ICL Symbol";
  src: url("/fonts/DOSH.woff2") format("woff2");
  font-display: swap;
  // src: url("/fonts/BERTLAN-GORDA.TTF") format("truetype");
  // src: url("/fonts/ICL_SYMBOL.TTF") format("truetype");
  // src: url("/fonts/DOSH.TTF") format("truetype");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family:
    "ICL Symbol", "Noto Sans Georgian", "DejaVu Sans", "Segoe UI", Roboto,
    Tahoma, sans-serif;

  // font-family: 'Noto Sans Georgian', 'Noto Sans', 'Noto Sans Symbols', sans-serif;
}
