* {
  padding: 0;
  margin: 0;
}

body {
  font-family:
    "Noto Sans Georgian", "Noto Sans Symbols 2", "DejaVu Sans", "Segoe UI", Roboto, Tahoma, sans-serif;

  // font-family: 'Noto Sans Georgian', 'Noto Sans', 'Noto Sans Symbols', sans-serif;
}
