.videos {
  height: 100vh;
  margin: 0.5em;
  padding: 1em;
  background-color: rgb(72, 72, 72);
  .link{
    // color: red;
    .video-item{
      padding: 1em;
      border-radius: 1em;
    }
  }
}
